$applying_panel_border_color: #BDBDBD;
$applying_table_border_color: #BDBDBD;
$applying_table_header_color: #7D7D7D;
$applying_table_text_color: #3D3D3D;
$applying_button_text_color: #FFFFFF;
$applying_button_background_color: #015FFF;