$objection_table_border_color: #BDBDBD;
$objection_table_header_color: #7D7D7D;
$objection_table_text_color: #3D3D3D;
$objection_button_text_color: #FFFFFF;
$objection_button_background_color: #2B79FF;
$objection_text_color: #2B79FF;
$objection_background_color: #D9E7FF;