$applynotice_view_background_color: #FFFFFF;
$applynotice_download_panel_border_color: #BDBDBD;
$applynotice_download_button_background_color: #F5F6F7;
$applynotice_next_button_background_color: #015FFF;
$applynotice_next_button_text_color: #FFFFFF;
$applynotice_before_button_background_color: #EAEBEC;
$applynotice_before_button_text_color: #7D7D7D;