@import "_variables.scss";

.main {
  display: flex;
  align-items:center;

  .panel {
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    padding: 24px 38px 36px;
    border-radius: 16px;
    background-color: $login_panel_background_color;
    width: 550px;
    height: 600px;
    overflow-y: auto;
  }
}