@import "_variables.scss";

table {
  border-spacing: 0;
}

th {
  background-color: $report_page_th_color;
  font-weight: $font_bold;

  &:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
  }

  &:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
  }

  &:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
  }
}

td {
  background-color: $report_page_td_color;
  font-weight: $font_medium;
  border-bottom: 1px solid $report_page_tr_border_color;
}

th, td {
  height: 23px;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
}

tr td:first-child {
  border-left: 1px solid $report_page_tr_border_color;
}

tr td:last-child {
  border-right: 1px solid $report_page_tr_border_color;
}

tr:last-child td:first-child {
  -moz-border-radius: 0 0 0 6px;
  -webkit-border-radius: 0 0 0 6px;
  border-radius: 0 0 0 6px;
}

tr:last-child td:last-child {
  -moz-border-radius: 0 0 6px 0;
  -webkit-border-radius: 0 0 6px 0;
  border-radius: 0 0 6px 0;
}


.report_view {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 18px 32px 0;
  align-items: center;

  .logo {
    display: flex;
    position: absolute;
    top: 18px;
    left: 32px;

    img {
      width: 47px;
      height: 47px;
      margin-top: 5px;
    }

    .logo_text {
      h1 {
        font-size: 19px;
        font-weight: $font_bold;
      }
      
      p {
        font-size: 13px;
        font-weight: $font_light;
      }
    }
  }

  .title_panel {
    display: flex;
    margin-top: 12px;

    h1 {
      font-size: 32px;
      font-weight: $font_bold;
    }
  }

  .result_panel {
    display: grid;
    column-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 44px 44px 320px 524px;
    margin-top: 40px;

    .user_data_panel {
      grid-column: 1 / 3;
      grid-row: 1 / 2;

      table {
        th {
          width: 147px;
        }
      }
    }

    .scorecard_panel_1_37 {
      grid-column: 1 / 2;
      grid-row: 2 / 5;

      table {
        margin-top: 8px;

        th {
          width: 74px;
        }
      }
    }
    .scoreboard_panel {
      grid-column: 2 / 3;
      grid-row: 2 / 3;

      table {
        margin-top: 15px;

        tr {
          th {
            width: 135px;

            &:first-child {
              width: 150px;
            }

            &:last-child {
              width: 69.5px;
            }
          }
        }
      }
    }
    .scorecard_panel_38_50 {
      grid-column: 2 / 3;
      grid-row: 3 / 4;

      table {
        margin-top: 28px;

        th {
          width: 74px;
        }
      }
    }
    .scorecard_panel_51_70 {
      grid-column: 2 / 3;
      grid-row: 4 / 5;

      .scorecard_category {
        margin-top: 44px;
      }

      table {
        margin-top: 8px;

        th {
          width: 74px;
        }
      }
    }
    .scorecard_category {
      width: 167px;
      height: 25px;
      margin-top: 17px;
      border-radius: 4px;
      background-color: $report_page_category_color;
      text-align: center;
      font-size: 16px;
      font-weight: $font_bold;
      line-height: 25px;
    }
  }
}

.page_num {
  font-size: 19px;
  font-weight: $font_bold;
  margin-top: 40px;
}

.dummy {
  width: 21cm;
  height: 29.7cm;
}