$history_table_border_color: #BDBDBD;
$history_table_header_color: #7D7D7D;
$history_table_text_color: #3D3D3D;
$history_button_text_color: #2B79FF;
$history_button_background_color: #D9E7FF;
$history_button_disabled_background_color: #EAEBEC;
$history_button_disabled_text_color: #BDBDBD;