$apply_panel_border_color: #BDBDBD;
$apply_table_border_color: #BDBDBD;
$apply_table_header_color: #7D7D7D;
$apply_table_text_color: #3D3D3D;
$apply_button_text_color: #FFFFFF;
$apply_button_background_color: #015FFF;
$agreement_button_disabled_background_color: #EAEBEC;
$agreement_button_disabled_text_color: #BDBDBD;