@import "_variables.scss";

.apply_view {
  display: flex;
  flex-direction: column;
  flex: 1;

  .apply_panel {
    display: flex;
    flex-direction: column;
    margin-top: 26px;
    padding: 48px 32px 0;
    border: 1px solid $apply_panel_border_color;
    flex: 1;

    table {
      width: 100%;
      border-collapse: collapse;

      &:first-child {
        border-bottom: 1px solid $apply_table_border_color;
      }

      &:nth-child(2) {
        margin-top: 10px;
      }

      th {
        width: 0;
        height: 26px;
        font-size: 14px;
        color: $apply_table_header_color;
        text-align: center;
      }

      tr {
        td {
          width: 33%;
          height: 36px;
          text-align: center;
          font-size: 14px;
          font-weight: $font_bold;
          color: $apply_table_text_color;

          button {
            padding: 4px 20px;
            font-size: 13px;
            font-weight: $font_bold;
            color: $apply_button_text_color;
            background-color: $apply_button_background_color;
            border-radius: 12px;
            cursor: pointer;
          }
        }
      }
    }

    hr {
      margin-top: 10px;
      border-top: 1px solid $apply_table_border_color;
    }

    .agreement_box {
      margin-top: auto;
      text-align: center;

      input[id="agreement"] {
        width: 20px;
        height: 20px; 
        position: relative;
        top: 5px;
      }
  
      label[for="agreement"] {
        margin-left: 10px;
        font-size: 15px;
        font-weight: $font_bold;
      }
    }

    .apply_button {
      display: block;
      margin: 24px auto 32px;
      padding: 8px 60px;
      font-size: 14px;
      font-weight: $font_bold;
      color: $apply_button_text_color;
      background-color: $apply_button_background_color;
      border-radius: 36px;
      cursor: pointer;
    }

    .disabled {
      cursor: not-allowed;
      background-color: $agreement_button_disabled_background_color;
      color: $agreement_button_disabled_text_color;
    }
  }
}