$popup_background_color: rgba(0, 0, 0, 0.3);
$popup_panel_background_color: #FFFFFF;
$popup_cancle_button_background_color: #EAEBEC;
$popup_cancle_button_text_color: #7D7D7D;
$popup_confirm_button_background_color: #015FFF;
$popup_confirm_button_text_color: #FFFFFF;