@import "_variables.scss";

.main {
  display: inline-flex;
  align-items:flex-start;

  .panel {
    display: flex;
    flex-direction: column;
    margin: 40px 0 40px 36px;
    padding: 24px 38px 36px;
    border-radius: 16px;
    background-color: $main_panel_background_color;
    width: 1100px;
    height: 600px;
  }
}