$solution_button_background_color: #EAEBEC;
$solution_button_text_color: #7D7D7D;
$solution_button_selected_background_color: #D9E7FF;
$solution_button_selected_text_color: #2B79FF;
$solution_border_color: #BDBDBD;
$solution_category_background_color: #D9E7FF;
$solution_category_text_color: #2B79FF;
$solution_judge_box_background_color: #FFFFFF;
$solution_judge_box_border_color: #BDBDBD;
$solution_judge_box_submit_text_color: #015FFF;
$solution_judge_box_input_background_color: #F5F6F7;