@import "_variables.scss";

.solution_view {
  display: flex;
  flex-direction: column;
  flex: 1;
  
  .button_panel {
    display: flex;

    .judge_selector {
      display: block;
      width: 96px;
      height: 28px;
      margin-top: 36px;
      margin-right: 16px;
      line-height: 28px;
      background-color: $solution_button_background_color;
      color: $solution_button_text_color;
      border-radius: 14px;
      text-align: center;
      font-size: 14px;
      font-weight: $font_bold;
      user-select: none;
      cursor: pointer;
    }

    input[type="radio"] {
      appearance: none;

      &:checked + .judge_selector {
        background-color: $solution_button_selected_background_color;
        color: $solution_button_selected_text_color;
      }
    }
  }

  .judge_panel {
    .category {
      width: 206px;
      height: 34px;
      margin-top: 12px;
      text-align: center;
      line-height: 34px;
      background-color: $solution_category_background_color;
      color: $solution_category_text_color;
      font-size: 20px;
      font-weight: $font_bold;
      border-radius: 16px;
    };

    .judge_box {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      padding: 16px 28px;
      background-color: $solution_judge_box_background_color;
      border: 1px solid $solution_judge_box_border_color;
      border-radius: 16px;

      .contents_panel {
        display: flex;
        justify-content: space-between;

        .url_panel {
          display: flex;
          font-size: 14px;
          font-weight: $font_bold;
  
          .submit {
            margin-left: 12px;
            white-space: nowrap;
            color: $solution_judge_box_submit_text_color;
          }
        }
      }

      input {
        height: 36px;
        margin-top: 16px;
        padding-left: 6px;
        background-color: $solution_judge_box_input_background_color;
        border-radius: 8px;
        font-size: 16px;
      }
    }
  }

  hr {
    margin-top: 10px;
    border-top: 1px solid $solution_border_color;
  }
}