@import "_variables.scss";

.menu_item {
  width: 200px;
  height: 260px;
  background-color: $index_page_card_color;
  border-radius: 16px;
  margin-right: 48px;
  align-items: center;
  vertical-align: middle;
  display:flex;
  flex-direction: column;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;

  img {
    margin-top: 60px;
    width: 90px;
    height: 90px;
  }

  p {
    margin-top: 30px;
    font-size: 20px;
    font-weight: $font_black;
  }
}