$announcement_panel_border_color: #BDBDBD;
$announcement_order_color: #FFFFFF;
$announcement_order_background_color: #D9D9D9;
$announcement_button_text_color: #2B79FF;
$announcement_button_background_color: #D9E7FF;