$body_color: #F5F6F7;
$header_color: #F5F6F7;
$header_border_color: #BDBDBD;
$header_logout_text_color: #015FFF;

$banner_color: #FFFFFF;
$banner_trapezoid_color: #015FFF;
$banner_text_color: #015FFF;
$banner_border_color: #BDBDBD;

$index_page_card_color: #FFFFFF;

$footer_border_color: #BDBDBD;
$footer_text_color: #7D7D7D;
$footer_title_color: #000000;

$font_thin: 100;
$font_extra_light: 200;
$font_light: 300;
$font_regular: 400;
$font_medium: 500;
$font_semi_bold: 600;
$font_bold: 700;
$font_extra_bold: 800;
$font_black: 900;
