@import "_variables.scss";
@import "_fonts.scss";
@import "_animation.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  -webkit-user-drag: none;
}

body {
  background-color: $body_color;
}

#app {
  padding-top: 64px;
}