@import "_variables.scss";
@import "_fonts.scss";
@import "_animation.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-user-drag: none;
  color: inherit;
  border: none;
  background: none;
  text-align: left;

  &:focus {
    outline: none;
  }
}

body {
  background-color: $body_color;
  height: 100%;
}

img {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

#app {
  padding-top: 64px;
}