$answer_stauts_list_panel_background_color: #FFFFFF;
$answer_status_list_hr_color: #BDBDBD;
$answer_status_list_number_background_color: #015FFF;
$answer_status_list_number_text_color: #FFFFFF;
$answer_status_list_circle_color: #015FFF;
$answer_status_list_disabled_color: #EAEBEC;
$answer_status_list_disabled_text_color: #BDBDBD;
$answer_status_list_button_color: #015FFF;
$answer_status_list_button_text_color: #FFFFFF;