@import "_variables.scss";

.vector_list_panel {
  display: inline-block;
  position: fixed;
  top: 100px;
  left: 260px;
  width: 236px;
  padding: 16px 22px;
  font-size: 16px;
  font-weight: $font_bold;
  background-color: $vector_list_panel_background_color;
  border-radius: 16px;

  p:not(:first-child) {
    margin-top: 4px;
  }
}