$objection_detail_title_panel_border_color: #BDBDBD;
$objection_detail_detail_border_color: #BDBDBD;
$objection_detail_input_background_color: #F5F6F7;
$objection_detail_button_text_color: #FFFFFF;
$objection_detail_button_background_color: #2B79FF;