$login_panel_logo_text_color: #015FFF;
$login_panel_input_background_color: #F5F6F7;
$login_panel_button_background_color: #015FFF;
$login_panel_button_text_color: #FFFFFF;
$login_panel_button_disabled_background_color: #EAEBEC;
$login_panel_button_disabled_text_color: #BDBDBD;