$menu_panel_background_color: #FFFFFF;
$menu_panel_title_color: #015FFF;
$menu_panel_content_color: #7D7D7D;
$menu_panel_item_hover_background_color: #F5F6F7;
$menu_panel_item_active_background_color: #F5F6F7;