$judge_panel_background_color: #FFFFFF;
$judge_header_panel_background_color: #015FFF;
$judge_header_panel_text_color: #FFFFFF;
$judge_question_answer_panel_div_color: #EDEDED;
$judge_question_answer_panel_input_color: #FFFFFF;